.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.parent{
  text-align: center;
  width: 40vw;
  height: 50vh;
  background-color: rgb(165, 169, 45);
}
.header{
  background-color: #61dafb;
}
.body{
  height: 100%;
  padding-bottom: 10px;
}
.table{
  margin: auto;
  border-collapse: collapse;
  margin-top: 10px
}
.table tr{
  margin: 0px;
  padding: 0px;
}
.table tr th{
  border: 2px solid black;
}
.table tr td{
  border: 2px solid black;
}

.update{
  width: 50%;
  height: 400px;
}

.isupdate{
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
